aws_region     = "us-east-1"
project_name   = "mt-openclaw-hermes-ecs"
vpc_cidr       = "10.2.0.0/16"
slot_count     = 2
openclaw_image = "public.ecr.aws/w7t9b2j0/openclaw:2026.4.21"
hermes_image   = "public.ecr.aws/w7t9b2j0/hermes:2026.4.23"
admin_password = "change-me-workshop-password"
